body {
    font-family: Arial, sans-serif;
    background-color: #b0b0b0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #23106e;
    padding: 20px;
    text-align: center;
}

.header img {
    max-width: 150px;
    height: auto;
}

.archive {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

.one-post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    padding: 15px;
    margin-bottom: 20px;
}

.post-title {
    color: #333;
    margin-bottom: 5px;
}

.article-info {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.article-text {
    font-size: 1em;
    line-height: 1.4em;
}