body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #333;
}

h1 {
    font-family: "Times New Roman", Times, serif;
}

h4 {
    font-size: 16px;
    margin-bottom: 0;
}

p {
    font-size: 20px;
    margin-bottom: 0;
}

ul, ol {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr td, table th {
    padding: 5px;
    border: 1px solid #000;
}

img {
    height: 30px;
    width: auto;
}
